* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%; /* extends the full width of the screen */
}

.img-banner {
    display: none;   
}

.img-info {
    width: 100%;
}

.img-info h2 {
    padding: 30px 30px 20px;
    font-family: arial;
    font-size: 50px;
    color: #111;
    line-height: 44px;
}

.img-info p {
    padding: 0px 30px 20px;
    font-family: arial;
    font-size: 16px;
    color: #111;
    line-height: 24px;
}

.img-me {
    width: 100%;
}

/* only run the code if it meets the condtion of minimum width */
@media only screen and (min-width: 768px) {
    .img-banner {
        display: block; 
        width: 100%;
        padding-bottom: 30px;  
    }
    .wrapper {
        width: 600px; /* extends the full width of the screen */
        margin: 0 auto;
    }
    .img-info h2 {
        padding: 20px 0px 0px;
    }
    
    .img-info p {
        padding: 20px 0px 0px; /* top / left - right / bottom */
    }
    .img-me {
        padding-top: 30px;
    }
}

@media only screen and (min-width: 1000px) {
    .wrapper {
        width: 1000px; /* extends the full width of the screen */
        margin: 0 auto;
    }
    .img-info {
        width: 50%;
        float: right;
    }

    .img-info h2 {
        padding: 20px 0px 0px 30px; /* 30px on the left side */
    }
    
    .img-info p {
        padding: 20px 0px 0px 30px; /* top / left - right / bottom */
    }
    .img-me {
        padding-top: 0px;
        width: 50%;
        float: left;
    }
}